.slither{
 height:100%;
 width:100%;
}

.game-links{
 color: rgb(150,150,150);
 font-size: 24px;
}

/*body{
  font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    
  font-size: 12px;

  color: rgb(255,255,255);
  background-color: green;
}*/

ul{
  list-style:none;
}

